*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
    
}

body{
    background-color: slategrey;
    width: 100dvw;
    height: 100dvh;
}

#myh1{
    color: rgb(10, 10, 86);
    margin: 3rem;
    text-align: center;
    font-size: 3rem;
}

.center{
    width: 500px;
    box-shadow: 0px 0px 40px silver;
    margin: auto;
    background-color: snow;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    padding: 1.5rem 0;
    color: darkblue;
    font-size: 2rem;
}

input{
    border-radius: .5rem;
    width: 170px;
    height: 40px;
    text-align: center;
    font-size: 1.5rem;
}

button{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: rgb(255, 0, 0);
    margin: 1.5rem 0rem;
    color: snow;
    transition: .5s;
}

button:hover{
    transform: scale(1.1);
}
.result{
    display: flex;
    align-items: center;
    gap: .5rem;
}
#Text{
    color: rgb(112, 186, 0);
    margin: 1rem 0rem;
    font-size: 2rem;
}